@charset "UTF-8";
.gd-list-inline > li {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

.gd-clearfix, .gd-row {
  *zoom: 1; }
  .gd-clearfix:before, .gd-row:before, .gd-clearfix:after, .gd-row:after {
    content: "";
    display: table; }
  .gd-clearfix:after, .gd-row:after {
    clear: both; }

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 * 0. sassCore's style
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  overflow-y: scroll;
  /* 0 */
  -webkit-overflow-scrolling: touch;
  /* 0 */ }

/**
 * 1. Remove default margin
 * 0. sassCore's style.
 */
body {
  margin: 0;
  /* 1 */
  font-size: 16px;
  /* 0 */
  line-height: 1.5;
  /* 0 */
  color: #333;
  /* 0 */
  background-color: #fff;
  /* 0 */ }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 * 3. Correct `inline-block` display in IE 6/7.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
  *display: inline;
  /* 3 */
  *zoom: 1;
  /* 3 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background color from active links in IE 10.
 * 2. Improve readability when focused and also mouse hovered in all browsers.
 * 0. sassCore's style.
 */
a {
  background: transparent;
  /* 1 */
  /* 0 */
  text-decoration: none;
  color: #08c; }
  a:active, a:hover {
    outline: 0;
    /* 2 */ }
  a:hover {
    color: #006699; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improve image quality when scaled in IE 7.
 * 0. sassCore's style.
 */
img {
  border: 0;
  /* 1 */
  vertical-align: middle;
  /* 0 */
  -ms-interpolation-mode: bicubic;
  /* 2 */ }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * 1. Contain overflow in all browsers.
 * 2. Improve readability of pre-formatted text in all browsers.
 */
pre {
  overflow: auto;
  /* 1 */
  white-space: pre;
  /* 2 */
  white-space: pre-wrap;
  /* 2 */
  word-wrap: break-word;
  /* 2 */ }

/**
 * 1. Address odd `em`-unit font size rendering in all browsers.
 * 2. Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  _font-family: 'courier new', monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */ }

/**
 * 1. Remove default vertical scrollbar in IE 8/9/10/11.
 * 0. sassCore's style
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 0 */ }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/**
 * Address CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none; }

html,
button,
input,
select,
textarea {
  font-family: "Microsoft Yahei", Helvetica, Tahoma, sans-serif; }

h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0; }

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none outside none; }

h1, h2, h3 {
  line-height: 2;
  font-weight: normal; }

h1 {
  font-size: 24px; }

h2 {
  font-size: 20.8px; }

h3 {
  font-size: 18.72px; }

h4 {
  font-size: 16px; }

h5, h6 {
  font-size: 13.6px;
  text-transform: uppercase; }

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #666; }

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #666; }

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #666; }

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #666; }

/*
全局防止越界
================================*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /*-webkit-user-select: none;*/
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

/*
H5全局
================================*/
/*
通用全局
================================*/
html, body {
  color: #342E2C; }

a {
  cursor: pointer;
  color: #fff;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }
  a.active {
    color: #FF7F00; }
  a:hover {
    color: #FF7F00; }
  a:active {
    color: #d56b00; }

/*
颜色
================================*/
.color-orange {
  color: #FF7F00; }

/*
清除浮动
================================*/
.gd-left {
  float: left;
  display: inline; }

.gd-right {
  float: right;
  display: inline; }

/*
UL横向显示
================================*/
.gd-list-inline {
  padding: 0;
  margin: 0;
  list-style: none; }

.gd-list-inline > li {
  padding-right: 5px;
  padding-left: 5px; }
  .gd-list-inline > li:last-child {
    padding-right: 0; }

/*
多栏布局
================================*/
.gd-row {
  width: 100%; }

.gd-col-3,
.gd-col-4,
.gd-col-6 {
  float: left;
  display: inline; }

.gd-col-3 {
  width: 25%; }

.gd-col-4 {
  width: 33.33%; }

.gd-col-6 {
  width: 50%; }

/*
业务全局
================================*/
.gd-container {
  width: 1080px;
  margin: 0 auto; }

.gd-hide {
  display: none; }

header,
.header {
  display: none;
  position: fixed;
  background: #333 url("img/bg-header.gif") repeat;
  height: 100px;
  width: 100%;
  z-index: 1;
  opacity: .98; }
  header .logo,
  .header .logo {
    line-height: 100px; }
    header .logo img,
    .header .logo img {
      height: 60px; }
  header nav,
  .header nav {
    line-height: 100px; }
    header nav li,
    .header nav li {
      width: 60px;
      text-align: center;
      margin-left: 8px !important;
      margin-right: 8px !important;
      padding: 0 !important; }
    header nav a,
    .header nav a {
      display: block;
      height: 100px; }
    header nav a.active,
    .header nav a.active {
      border-bottom: 4px solid #FF7F00; }

main,
.main {
  display: none;
  padding-top: 100px; }
  main .index .banner,
  .main .index .banner {
    background: #FF7F00 url("img/bg-banner.jpg") center no-repeat;
    height: 650px; }
  main .index .service,
  main .index .case,
  main .index .about,
  main .index .contact,
  .main .index .service,
  .main .index .case,
  .main .index .about,
  .main .index .contact {
    text-align: center;
    padding: 10px; }
    main .index .service h1,
    main .index .case h1,
    main .index .about h1,
    main .index .contact h1,
    .main .index .service h1,
    .main .index .case h1,
    .main .index .about h1,
    .main .index .contact h1 {
      font-size: 40px;
      color: #342F2C;
      line-height: 1;
      margin-top: 50px;
      margin-bottom: 40px; }
    main .index .service p,
    main .index .case p,
    main .index .about p,
    main .index .contact p,
    .main .index .service p,
    .main .index .case p,
    .main .index .about p,
    .main .index .contact p {
      margin-bottom: 70px; }
  main .index .service .label,
  .main .index .service .label {
    color: #FF7F00;
    margin-top: 18px; }
  main .index .service .section,
  .main .index .service .section {
    margin-bottom: 90px; }
    main .index .service .section .platform,
    .main .index .service .section .platform {
      background: url("img/bg-platform.png") 0 0 no-repeat;
      width: 144px;
      height: 144px;
      display: inline-block;
      cursor: pointer;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }
      main .index .service .section .platform:hover,
      .main .index .service .section .platform:hover {
        background-position-y: -144px; }
    main .index .service .section .android,
    .main .index .service .section .android {
      background-position-x: -144px; }
    main .index .service .section .web,
    .main .index .service .section .web {
      background-position-x: -288px; }
    main .index .service .section .h5,
    .main .index .service .section .h5 {
      background-position-x: -432px; }
  main .index .case,
  .main .index .case {
    background: #f8f8f8; }
    main .index .case .section,
    .main .index .case .section {
      margin-bottom: 60px; }
      main .index .case .section .item,
      .main .index .case .section .item {
        background: #37322e;
        height: 230px;
        margin: 7.5px;
        cursor: pointer;
        color: #fff;
        font-size: 50px;
        font-style: italic;
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -ms-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s; }
    main .index .case p,
    .main .index .case p {
      margin-bottom: 62.5px; }
  main .index .about,
  .main .index .about {
    padding-left: 0;
    padding-right: 0; }
    main .index .about p,
    .main .index .about p {
      margin-bottom: 50px; }
    main .index .about .section,
    .main .index .about .section {
      background: #FF7F00 url("img/bg-about.jpg") center no-repeat;
      height: 550px; }
  main .index .contact h1,
  .main .index .contact h1 {
    margin-top: 40px; }
  main .index .contact p,
  .main .index .contact p {
    margin-bottom: 50px; }
  main .index .contact .section,
  .main .index .contact .section {
    margin-bottom: 50px; }
    main .index .contact .section .map,
    .main .index .contact .section .map {
      background: #FF7F00 url("img/bg-map.png") center no-repeat;
      width: 660px;
      height: 360px; }
    main .index .contact .section .info,
    .main .index .contact .section .info {
      text-align: left;
      margin-left: 70px;
      margin-top: -13px; }
      main .index .contact .section .info p,
      .main .index .contact .section .info p {
        margin: 0;
        line-height: 3;
        font-size: 13px;
        color: #37322e; }
      main .index .contact .section .info .qrcode,
      .main .index .contact .section .info .qrcode {
        margin-top: 10px; }
        main .index .contact .section .info .qrcode img,
        .main .index .contact .section .info .qrcode img {
          width: 175px; }

footer,
.footer {
  display: none;
  background: #333 url("img/bg-header.gif") repeat;
  font-size: 13px;
  color: #ccc;
  height: 80px;
  line-height: 80px; }
  footer a,
  .footer a {
    color: #ccc; }

dialog,
.dialog {
  width: 100%;
  padding: 0;
  border: none; }
  dialog header,
  .dialog header {
    display: block;
    height: 70px;
    z-index: 11; }
    dialog header .back-home,
    dialog header .case-prev,
    dialog header .case-next,
    .dialog header .back-home,
    .dialog header .case-prev,
    .dialog header .case-next {
      background: url("img/bg-case-nav.png") 0 -70px no-repeat;
      width: 70px;
      height: 70px;
      cursor: pointer;
      -webkit-transition: all .2s;
      -moz-transition: all .2s;
      -ms-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }
      dialog header .back-home:hover,
      dialog header .case-prev:hover,
      dialog header .case-next:hover,
      .dialog header .back-home:hover,
      .dialog header .case-prev:hover,
      .dialog header .case-next:hover {
        background-position-y: 0; }
    dialog header .case-prev,
    .dialog header .case-prev {
      background-position-x: -70px; }
    dialog header .case-next,
    .dialog header .case-next {
      background-position-x: -140px; }
  dialog .banner,
  .dialog .banner {
    padding-top: 70px; }
    dialog .banner .slider,
    .dialog .banner .slider {
      background-color: #666;
      background-position: center;
      background-repeat: no-repeat;
      height: 600px; }
  dialog .desc-box,
  .dialog .desc-box {
    background: #00A8E9;
    padding-bottom: 60px; }
    dialog .desc-box .desc,
    .dialog .desc-box .desc {
      background: #666 url("img/bg-header.gif") repeat;
      padding: 30px; }
      dialog .desc-box .desc p,
      .dialog .desc-box .desc p {
        color: #AAAAAA;
        font-size: 14px;
        line-height: 28px; }
      dialog .desc-box .desc .desc-core,
      .dialog .desc-box .desc .desc-core {
        width: 699px; }
        dialog .desc-box .desc .desc-core h1,
        .dialog .desc-box .desc .desc-core h1 {
          line-height: 1;
          font-size: 28px;
          color: #fff;
          margin-bottom: 15px; }
      dialog .desc-box .desc .desc-info,
      .dialog .desc-box .desc .desc-info {
        height: 140px;
        margin-left: 55px;
        padding-left: 35px;
        background: url("img/bg-case-line.png") left center no-repeat; }
        dialog .desc-box .desc .desc-info h2,
        .dialog .desc-box .desc .desc-info h2 {
          line-height: 1;
          font-size: 16px;
          color: #AAAAAA;
          margin-bottom: 10px; }
        dialog .desc-box .desc .desc-info p,
        .dialog .desc-box .desc .desc-info p {
          color: #696868;
          line-height: 35px; }
    dialog .desc-box .content,
    .dialog .desc-box .content {
      background: #37322E;
      padding: 30px; }
      dialog .desc-box .content .media,
      .dialog .desc-box .content .media {
        background: #fff;
        width: 100%;
        height: 500px;
        line-height: 500px;
        font-size: 48px;
        font-style: italic;
        text-align: center; }
    dialog .desc-box .split,
    .dialog .desc-box .split {
      width: 100%;
      height: 1px;
      background: url("img/bg-case-split.png") repeat; }

.warn {
  color: #FF7F00;
  text-align: center;
  margin-top: 200px; }
  .warn .copy {
    margin-top: 30px;
    font-size: 13px;
    color: #ccc; }

/*# sourceMappingURL=index.css.map */
