<div>
    <div class="gd-container">
        <div class="gd-clearfix">
            <div class="gd-left">
                Copyright &copy; 2016. 奈特科技网络科技有限公司. All Rights Reserved.
            </div>
            <div class="gd-right">
                <a href="http://www.miitbeian.gov.cn" target="_blank">
                    粤ICP备16043856号
                </a>
            </div>
        </div>
    </div>
</div>