<div class="gd-container gd-clearfix">
    <div class="logo gd-left">
        <a href="./" title="奈特科技">
            <img src="res/img/logo.png" alt="奈特科技">
            <span>奈特科技</span>
        </a>
    </div>

    <nav class="gd-right">
        <ul class="gd-list-inline">
            <li>
                <a data-target="#banner" class="active">
                    首页
                </a>
            </li>
            <li>
                <a data-target="#service">
                    服务
                </a>
            </li>
            <li>
                <a data-target="#case">
                    案例
                </a>
            </li>
            <li>
                <a data-target="#about">
                    关于
                </a>
            </li>
            <li>
                <a data-target="#contact">
                    联系
                </a>
            </li>
        </ul>
    </nav>
</div>